<form id="delete-post-form">
    <div class="card mb-2">
        <div class="card-body">
            <h5 class="card-title" style="float: left;"><a href="/posts/{{ post.id }}?action=view">{{ post.title }}</a></h5>
            <span style="float: right;">
                <a href="/posts/{{ post.id }}?action=edit" class="btn btn-primary">Edit</a>
                <input type="hidden" id="id" value="{{ post.id }}"></input>
                <button type="submit" class="btn btn-primary">Delete</button>
            </span>
            <p style="clear: both;">{{ post.content }}</p>
            <footer class="blockquote-footer">Posted by {{ post.user.username }} on {{ format_date post.updatedAt }}</footer>
        </div>
    </div>
</form>
<script src="/js/post.js"></script>
